<ion-menu id="menu1" swipeEnabled="false" [content]="homeTabs">
  <ion-header>
    <ion-toolbar>
      <ion-title>menu1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list no-lines>
      <button ion-item menuClose *ngFor="let menu of menuList" (click)="openPage(menu)">{{menu.title}}</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu id="menu2" swipeEnabled="false" [content]="homeTabs">
  <ion-header>
    <ion-toolbar>
      <ion-title>menu2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list no-lines>
      <button ion-item menuClose *ngFor="let menu of menuList" (click)="openPage(menu)">{{menu.title}}</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-tabs #homeTabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="tab-home" tabBadge="3"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="tab-invest"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="tab-talk"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="tab-find"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="List" tabIcon="tab-mine"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="HttpClientList" tabIcon="list"></ion-tab>
</ion-tabs>