page-swiper-calendar {
  /*日历容器样式*/

  .em-calendar-container,
  .em-calendar-wrapper-week,
  .em-calendar-wrapper,
  .em-calendar {
    overflow: hidden;
    background: #ffffff;
  }

  .em-calendar-container {
    border-bottom: 1px solid #e0e0e0;
  }

  /*标注红色*/

  .em-red {
    color: #e60012;
  }

  /*最上面一行周历显示*/

  .em-week {
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
    padding-bottom: 15px;
    color: #999999;
    font-size: 13px;
  }

  .em-calendar-content .em-calendar-item {
    float: left;
    width: 14.285vw;
    height: 14.285vw;
    text-align: center;
    /*border:1px solid #000;*/
    border-radius: 50%;
    margin-bottom: 5px;
  }

  /* 周六、周日列字体标红*/

  .em-calendar-content .em-calendar-item:nth-child(7n) .day,
  .em-calendar-content .em-calendar-item:nth-child(7n + 1) .day {
    color: #e60012;
    font-size: 16px;
  }

  /* 上个月和下个月  置成灰色，不可点击*/

  .em-calendar-content .isforbid0.em-calendar-item .day {
    display: block;
    padding-top: 7px;
    font-size: 16px;
    color: #d8d8d8;
  }

  .em-calendar-content .isforbid0.em-calendar-item .lunar {
    font-size: 10px;
    color: #d8d8d8;
    margin-top: -3px;
  }

  .em-calendar-content .em-calendar-item .day {
    display: block;
    padding-top: 2vw;
    font-size: 16px;
    color: #333333;
  }

  .em-calendar-content .em-calendar-item .lunar {
    font-size: 10px;
    color: #666666;
    margin-top: -3px;
  }

  /*通用点皮肤*/

  .em-calendar-content .em-calendar-item .dot {
    display: inline-flex;
    width: 8px;
    height: 8px;
    margin-top: -13px;
    position: absolute;
    margin-left: -4px;
  }

  /*点击效果*/

  .em-calendar-content .em-calendar-active.em-calendar-item:nth-child(7n) .day,
  .em-calendar-content
    .em-calendar-active.em-calendar-item:nth-child(7n + 1)
    .day {
    color: #ffffff;
  }

  .em-calendar-active {
    background-color: #3c80e6;
    width: 14.285%;
    height: 54px;
  }

  .em-calendar-content .em-calendar-active .day,
  .em-calendar-content .em-calendar-active .lunar {
    color: #ffffff;
  }
}
